// song styling
.each_song:hover,.each_selected_song{
  background: white;
  cursor: pointer;
  box-shadow: rgba(94, 119, 251, 0.15) 0 10px 30px;
}
.each_song{
  width: 100%;
  padding: 5px 25px;
  margin: 10px auto;
  display: flex;
  border-radius: 42px;
  align-items: center;

  .each_song_name_cont{
    display: flex;
    align-items: center;
    margin-left: 15px;
    flex: 1;
    p:first-child{
      font-weight: 600;
      font-size: 16px;
    }
    p:nth-child(2){
      font-size: 14px;
      margin-top: 7px;
    }
    img{
      width: 50px;
      aspect-ratio: 1;
      border-radius: 50%;
      margin-right: 15px;
    }
  }

  .duration{
    margin-right: 10px;
  }
}