.ma_main_cont{


    --sidebackground: rgba(255, 255, 255, 0.38);
    --hoverColor: rgba(255, 255, 255, 0.6);

    width: 100vw;
    height: 100vh;
    position: relative;
    background: rgba(94, 119, 251, 0.09);
}
.ma_content_cont{
    width: 95%;
    height: calc(100vh - 120px);
    padding-top: 60px;
    margin:auto;
    display: flex;

    & > .ma_sidebar_cont{
        //height: calc(100% - 80px);
      }
}
.ma_background_cont{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../../images/background.svg");
    object-fit: contain;
    filter: blur(18px);
    opacity: 0.18;
    z-index: -1;
}

.ma_main_route_cont{
    width:100%;
    height: calc(100% - 45px);
    padding-bottom: 40px;
    overflow-y: scroll;
}
// handle scroll bar
.no_scroll_bar_cont::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.no_scroll_bar_cont::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 1px grey;
    border-radius: 0px;
}

.no_scroll_bar_cont::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.2);
    display: none;
    border-radius: 0px;
}
.album_on_hover_img{
    cursor: pointer;
}
.album_on_hover_img:hover img{
    transform: scale(1.05);
}
.album_on_hover_img > img{
    transition: transform ease-in 200ms;
}