@font-face {
    font-family: "Louis George Cafe";
    src: local("Louis George Cafe"),
    url("./fonts/Louis-George-Cafe.ttf") format("truetype");
}
@font-face {
    font-family: "Louis George Cafe";
    src: local("Louis George Cafe"),
    url("./fonts/Louis-George-Cafe-Bold.ttf") format("truetype");
    font-weight: 600;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Louis George Cafe;
}
