.ma_main_content_cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  overflow: hidden;
  width: calc(100% - 250px);
  .heading_cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    p{
      font-size: 22px;
      font-weight: 600;
    }
  }
  .ma_main_search_cont{
    height: 45px;
  }
  // handle scroll bar
  .no_scroll_bar_cont::-webkit-scrollbar {
    height: 0px;
    width: 0px;
  }

  .no_scroll_bar_cont::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 1px grey;
    border-radius: 0px;
  }

  .no_scroll_bar_cont::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.2);
    display: none;
    border-radius: 0px;
  }
  .album_on_hover_img{
    cursor: pointer;
  }
  .album_on_hover_img:hover img{
    transform: scale(1.05);
  }
  .album_on_hover_img > img{
    transition: transform ease-in 200ms;
  }
  .ma_main_top_music_cont{
    width: 100%;
    overflow-x: auto;

    .ma_album_cont{
      width: 100%;
      display: flex;
      .ma_each_album_cont:first-child{
        margin-left: 0;
      }
      .ma_each_album_cont{
        width: 260px;
        aspect-ratio: 1;
        margin: 10px 15px;
        display: flex;
        flex-direction: column;
        img{
          border-radius: 12px;
          box-shadow: rgba(0, 0, 0, 0.15) 25px 35px 50px;
          border: rgba(71, 98, 240, 0.19);
          width: 260px;
          aspect-ratio: 1;
        }
        P{
          margin-top: 10px;
        }
        .album_name{
          font-size: 18px;
          font-weight: 600;
        }
        .artist_name{
          font-size: 14px;
        }
      }
    }

  }
  .ma_main_music_cont{
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
    display: flex;
    align-items: flex-start;

    .ma_main_popular_cont{
      width: 38%;

    }

    .ma_main_recommend_cont{
      width: 58%;



      .recom_albums_cont{
        display: flex;
        overflow-x: scroll;
        .each_album{
          //width: 160px;
          cursor: pointer;
          padding: 10px;
          aspect-ratio: 1;
          margin: 10px 15px;
          img{
            border-radius: 12px;
            box-shadow: rgba(0, 0, 0, 0.15) 25px 35px 50px;
            border: rgba(71, 98, 240, 0.19);
            width: 150px;
            aspect-ratio: 1;
          }
          P{
            margin-top: 10px;
          }
          .album_name{
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }
  }
}